body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
}

input {
  width: 70%;
  padding: 8px;
  margin-right: 5px;
}

button {
  padding: 6px 10px;
  margin-left: 4px;
  cursor: pointer;
}

li {
  margin-top: 10px;
}
